<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DP</title>
    <link rel="stylesheet" href='/static/assets/css/bootstrap.min.css' />
    <link rel="stylesheet" href='/static/assets/css/main.css' />
    <script src='/static/assets/js/bootstrap.bundle.min.js'></script>
    <script src='/static/assets/js/jquery.min.js'></script>
    <script src='/static/assets/js/main.js'></script>
    <script src='/static/assets/js/dashboard.js'></script>
</head>

<body class="d-flex flex-column min-vh-100">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand fs-3 fw-bold" href="#">Web-Based Network Scanner</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                </ul>
                <div class="d-flex">
                    <img src="/static/assets/img/person-circle.svg" alt="User Icon" width="28" height="28" class="me-2">
                    <span class="navbar-text me-3">{{ .userName }}</span>
                    <a href="#" id="logout" class="btn btn-dark me-2">Logout</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Main Container with Sidebar -->
    <div class="d-flex flex-grow-1">
        <!-- Sidebar -->
        <div class="bg-light p-3" style="width: 250px;">
            <h4 class="mb-4">Menu</h4>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a class="nav-link" href="/scanner">Scanner</a>
                </li>
                <li class="nav-item mb-2">
                    <a class="nav-link" href="/vpn">VPN</a>
                </li>
            </ul>
        </div>

        <!-- Main Content -->
        <div class="p-4 flex-grow-1">
            <h1>Scan</h1>
            <table class="table">
                <thead>
                    <th scope="col">Host IP address</th>
                    <th scope="col">Hostname</th>
                    <th scope="col">Host MAC addres</th>
                    <th scope="col">Vendor</th>
                    <th scope="col">Open ports (Service)</th>
                </thead>
                <tbody>
                    <!-- range over the result's hosts and create a row for each host -->
                    {{ range $row := .rows }}
                    <tr scope="row">
                        <td>{{$row.IPv4}}</td>
                        <td>{{$row.Hostname}}</td>
                        <td>{{$row.MAC}}</td>
                        <td><span class="text-muted">{{$row.Vendor}}</span></td>
                        <td>{{$row.OpenPorts}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Footer -->
    <footer class="bg-light py-3 mt-auto">
        <div class="container d-flex justify-content-between">
            <span class="text-muted">© 2025 Karolina Łopusińska. All rights reserved.</span>
            <div>
                <a href="#" class="text-muted me-3">About</a>
                <a href="#" class="text-muted">Contact</a>
            </div>
        </div>
    </footer>
</body>

</html>